
@charset "utf-8";
@import url("https://unpkg.com/normalize.css@8.0.1/normalize.css");

* {
	--focus-outline: 3px solid #2ef;
}

*:focus {
	outline: var(--focus-outline);
}

html {
	font-size: 20px;
}

body {
	padding: 5%;
}

main {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

quizzly-quiz {
	display: block;
	background: #eee;
	padding: 1em;
}

* + quizzly-quiz {
	margin-top: 1em;
}

quizzly-quiz p {
	margin: 0;
}

quizzly-question, quizzly-result {
	display: block;
	margin-top: 1em;
}

quizzly-question {
	padding: 0.5em;
	border: 1px solid lightgrey;
}
